@import "../../node_modules/ember-cli-bootstrap-sass/vendor/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-weight: 100;
  color: #434343;
}